<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="xunner.mapper.CallExpenseMapper">
	<select id="getById" resultType="xunner.bean.CallExpense">
		SELECT * FROM call_expenses WHERE call_expense_id = #{callExpenseId};
	</select>
</mapper>