<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xunner.mapper.DataExpenseMapper">
	<select id="getById" resultType="xunner.bean.DataExpense">
		SELECT *
		FROM data_expenses
		WHERE data_expense_id = #{dataExpenseId};
	</select>

	<select id="sumDataInOrder" resultType="double">
		SELECT ifnull(sum(data), 0)
		FROM data_expenses
		WHERE order_id = #{arg0}
		  and is_local = #{arg1};
	</select>

	<select id="sumDataWithoutOrder" resultType="double">
		SELECT ifnull(sum(data), 0)
		FROM data_expenses
		WHERE user_id = #{arg0}
		  and order_id is null
		  and is_local = #{arg1}
		  and time between #{arg2} and #{arg3};
	</select>

	<insert id="add" useGeneratedKeys="true" keyProperty="data_expense_id" parameterType="DataExpense">
		INSERT INTO data_expenses (user_id, order_id, time, data, is_local, cost)
		VALUES (#{userId}, #{orderId}, #{time}, #{data}, #{isLocal}, #{cost})
	</insert>
</mapper>