<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="xunner.mapper.DataExpenseMapper">
	<select id="getById" resultType="xunner.bean.DataExpense">
		SELECT * FROM data_expenses WHERE data_expense_id = #{dataExpenseId};
	</select>
</mapper>