<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xunner.mapper.MessageExpenseMapper">
	<select id="getById" resultType="MessageExpense">
		SELECT *
		FROM message_expenses
		WHERE message_expense_id = #{messageExpenseId};
	</select>

	<select id="countMessagesInOrder" resultType="int">
		SELECT count(*)
		FROM message_expenses
		WHERE order_id = #{orderId};
	</select>

	<select id="countMessageWithoutOrder" resultType="int">
		SELECT count(*)
		FROM message_expenses
		WHERE user_id = #{userId}
		  and order_id is null
		  and time between #{startTime} and #{endTime};
	</select>
</mapper>